[Unit]
Description=Deployr Sync Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/deployr.sh

[Install]
WantedBy=multi-user.target

